<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form method="post">
    first name : <input type="text" name="firstname" required><br>

    last name : <input type="text" name="lastname" required><br>

    Email : <input type="email" name="email" required><br>
    password : <input type="password" name="password" minlength="5">
    Birthday : <input type="date"><br>
    Gender: <br>
        Male <input type="radio" name="gender" value="male"><br>
        Female<input type="radio" name="gender" value="female"><br>
        other <input type="radio" name="gender" value="other"><br>
    Branch :
    <select name=" Branch"><br>
        <option  value="coe">coe<br>
        <option value="csbs">csbs<br>
    </select><br>
    <input type="submit" value="Register!">
    <input type="reset">
</form>
</body>
</html>